{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block stylesheets %}
    <style>
        .qrcode{
            display: flex;
            width: calc(36px * 15);
            flex-wrap: wrap;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="qrcode">
        {% for x in 0..224 %}
            <img src="https://escape.harari.ovh/build/images/split/{{chunks[x]}}.png">
        {% endfor %}
    </div>

{% endblock %}
