{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<nav>
<ul>
    <li>
        <a href="/ch1">Chapitre 1</a>
    </li>

    <li>
        <a href="/ch2">Chapitre 2</a>
    </li>

    <li>
        <a href="/ch34">Chapitre 3-4</a>
    </li>

    <li>
        <a href="/ch42">Chapitre 4-2</a>
    </li>

    <li>
        <a href="/ch53">Chapitre 5-3</a>
    </li>
</ul>
</nav>
{% endblock %}
